.App {
  text-align: center;
}

.search{
  margin-right: 20rem;
}

.home{
  margin-right: 1rem;
}

.love{
  margin-right: 1rem;
}

.notif{
  margin-right: 10rem;
}

.profile{
  margin-right: 4rem;
}

.background-nav{
  border: 2px solid #FA8B78;
  background-color: #FA8B78;
}
