.App {
  text-align: center;
}

.search {
  margin-right: 20rem;
}

.home {
  margin-right: 1rem;
}

.love {
  margin-right: 1rem;
}

.notif {
  margin-right: 10rem;
}

.profile {
  margin-right: 4rem;
}

.background-nav {
  border: 2px solid #fa8b78;
  background-color: #fa8b78;
}

.fotoprofil {
  width: 2em;
  height: 2em;
  border-radius: 100%;
}
